* {
    /*font-family: 'Nunito Sans', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    background-color: #141c20;
    color: #dbdbdb;
    box-sizing: border-box;
    letter-spacing: 2px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 1em;
}
.header_bar, .footer_bar {
    background-color: #4d5355;
    width: 100%;
    height: 75px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    left: 0;
}
.footer_bar {
    bottom: 0;
}
.header_bar {
    top: 0;
}
.main_title {
    color: #dbdbdb;
    background-color: #4d5355;
    margin: auto;
    position: relative;
    text-align: left;
    vertical-align: middle;
    letter-spacing: 2px;
    top: 15px;
    left: 10px;
}
.hidden {
    display: none;
}
ul {
    list-style-type: none;
}
fieldset {
    border: 0;
    margin: auto;
    margin-top: 150px;
    font-family: 'Nunito Sans', sans-serif;
}
.center_fieldset {
    margin-top: 100px;
}
.search_link {
    color: #f79425;
    border: 1px solid #00241f;
}
#login_page {
    width: 100%;
    margin-top: 75px;
    justify-content: center;
    align-self: center;
}
.content {
    vertical-align: middle;
}
div p {
    text-align: center;
}
.login_input {
    width: 100%;
    margin: auto;
    border: #126971;
}
.rounded_corners {
    border-radius: 5px;
}
.login_form {
    width: 100%;
    margin: auto;
    background-color: #4d5355;
    position: relative;
}
.login_form > fieldset, legend, label, p, h1 {
    background-color: #4d5355;
    font-family: 'Nunito Sans', sans-serif;
}
.login_heading {
    margin: 0;
}
.underline {
    border-bottom: solid 2px #dbdbdb;
}
.fine_print {
    font-size: .75em;
}
.raised_content {
    background-color: #4d5355;
    margin: auto;
}
.login_form > fieldset {
    border: 1em;
    margin: auto;
}
#login_button {
    background-color: #f79425;
    font-weight: bold;
    color: #141c20;
}

.hide_label {
    display: none;
}
.display_center {
    justify-content: center;
}
.login_block {
    margin: 65px auto 0 auto;
    padding: 15px;
    width: 500px;
    font-size: 150%;
    height: 100%;
    border-radius: 5px;
    background-color: #4d5355;
}
a {
    color: #f79425;
}